{{define "add"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .PageTitle}}
  <body>
    {{template "header" .PageTitle}}
    <main>
      <form method="POST" action="/add">
        <input type="text" placeholder="Data for your block" required name="blockData" />
        <button>Add block</button>
      </form>
    </main>
  </body>
  {{template "footer"}}
</html>
{{end}}