{{define "home"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .PageTitle}}
  <body>
    {{template "header" .PageTitle}}
    <main>
      {{template "blocks" .Blocks}}
    </main>
  </body>
  {{template "footer"}}
</html>
{{end}}