{{define "blocks"}}
    <p>Blocks</p>
    {{range .}}
    <div>
    <ul>
      <li>Data: {{.Data}}</li>
      <li>Hash: {{.Hash}}</li>
      {{ if .PrevHash }}
        <li>PrevHash: {{.PrevHash}}</li>
      {{ end }}
      <li>Height: {{.Height}}</li>
    </ul>
    <hr/>
    </div>
    {{end}}
{{end}}